.findContainer img {
    height: 30px;
    color: white;
  }
  
  .findContainer {
    padding: 10px;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  @media screen and (max-width: 1000px) {
    h1 {
      font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 700px) {
    .searchBar {
      width: 80% !important;
    }
  }
  
  .searchBar {
    width: 50%;
    border: 1px solid white;
    align-items: center;
    background: rgba(197, 194, 194, 0.3);
    border-radius: 12px;
    z-index: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px rgba(245, 245, 245, 0.1);
    font-weight: 800;
    display: flex;
    flex-direction: row;
  }
  
  .inputContainer {
    width: 80%;
  }
  
  .divider {
    height: 80%;
    border: 1px solid wheat;
  }
  
  .input {
    font-size: 20px;
    color: white;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 12px;
    outline: none;
    border: none;
  }
  
  .goButton {
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    margin-right: 5px;
  }
  
  .grid {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  